<%-include('header');%>
<h1>Te nem ezt az utat akartad!</h1>
<table >
    <tr>
        <td>
<button type="button" class="btn btn-success"><a href="/">Engedj minket és keress magadnak másik utat!</a></button></td>
</td>
    </tr>
    </table>
<%-include('footer');%>                        